
.postItemContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
  margin-left: 235px;
  margin-top: 80px;
  margin-right: 190px;
  max-width: 720px;
}

.postDate {
  color: #aaa;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: 'Karla';
}

.postTitle {
  font-size: 1.3rem;
  font-family: 'Crimson Text';
}

.postLink, .postLink:visited {
  text-decoration: none;
  color: black;
}

.postBody {
    text-overflow: ellipsis;
    max-height: 200px;
    overflow: hidden;
    color: #666;
    font-family: 'Karla';
    line-height: 1.67em;

}
