.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #1d1d1d;
}

.logo {
  border: 2px solid #d4a259;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  order: 1;
  margin: 50px;
  align-self: center;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  order: 2;
  align-content: center;
}

.title {
  color: white;
  font-size: 20pt;
  align-self: center;
  font-family: 'Crimson Text';
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}

.subText {
  color: #666;
  align-self: center;
  font-size: x-small;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding-top: 5px;
}

.navigation {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  order: 3;
  margin: 20px;
  letter-spacing: 0.15em;
  font-size: 0.777778rem;
  border-bottom: 1px solid #333;
}

.navlink {
  border-top: 1px solid #333;
  border-collapse: collapse;
  color: #aaa;
  padding: 0.8em 0;
  width: 100%;
  text-align: center;
  font-family: 'Karla';
  font-size: 0.85rem;
  font-weight: bold;

}

.selected {
  color: #d4a259;
}

.twitter {
  height: 50px;
  border-radius: 100%;
  order: 4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.icon {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  color: #666;
}

.icon:hover {
  color: orange;
}